@model IEnumerable<LodgeLink.Models.BookingRequest>

@{
    ViewData["Title"] = "Approved Facility Requests";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Facility)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.ApprovalDate)
            </th>
          
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ResidentId)
            </td>
            <td>
                @* @Html.DisplayFor(modelItem => item.Facility.FacilityName) *@
                    @Html.DisplayFor(modelItem => item.FacilityId)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
          <td>
                @Html.DisplayFor(modelItem => item.ApprovalDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
