<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/LodgeLink.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <style>
        body{
            background-image:url("/images/bg_forgotpass.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            
        }
    </style>
</head>

<body>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-lg-5 text-white">
                @if (ViewData["FormType"].Equals(0))
                {
                    <form method="POST">
                        <div class="form-group text-center" id="getEmail">
                            <h3>Enter Your Registered Email</h3>
                            <div class="my-3">
                                <input type="text" class="form-control border border-2 border-bottom border-primary" name="email" placeholder="Ex. abc123@gmail.com" />
                                <h6 class="text-danger" id="EmailError">@ViewData["EmailError"]</h6>
                            </div>
                        </div>
                        <div class="my-3">
                            <input type="submit" class="btn btn-primary text-start" value="Submit" />
                        </div>
                    </form>
                }
                else if (ViewData["FormType"].Equals(1))
                {
                    <form method="POST" onsubmit="return checkOTP()">
                        <div class="form-group text-center" id="getOTP">
                            <h3>Enter OTP Sent To Given Email</h3>
                            <h5 id="show_email"></h5>
                            <div class="my-3">
                                <input type="hidden" value="@ViewData["Email"]" name="email">
                                <input type="text" class="form-control border border-2 border-bottom border-primary" id="otpField" name="otp" placeholder="XXXXXX" />
                                <h6 class="text-danger" id="otpError"></h6>
                            </div>
                        </div>
                        <div class="my-3">
                            <div class="row">
                                <div class="col-lg-1">
                                    <input type="submit" class="btn btn-primary text-start" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </form>
                }
                else if (ViewData["FormType"].Equals(2))
                {
                    <form method="POST" onsubmit="return savePassword()">
                        <div class="form-group text-center">
                            <input type="hidden" value="@ViewData["Email"]" name="email">
                            <label class="form-label">Enter New Password</label>
                            <input type="password" id="newPassword" name="newPassword" class="form-group" />
                        </div>
                        <div class="form-group text-center">
                            <label class="form-label">Confirm New Password</label>
                            <input type="password" id="confirmPassword" class="form-group" />
                            <h6 id="confirmPasswordError"></h6>
                        </div>
                        <div class="col-lg-1">
                            <input type="submit" class="btn btn-primary text-start" value="Submit" />
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
    <script>
        function checkOTP()
        {
            let otp = parseInt(document.getElementById("otpField").value);
            console.log("OTP : " + otp);
            let otpError = document.getElementById("otpError");
            if(otp === "")
            {
                otpError.innerHTML = "OTP Required!!";
                console.log("OTP Required!!");
                return false;
            }
            else if (otp === @Context.Session.GetString("OTP")) {
                otpError.innerHTML = "OTP Matched!!"
                console.log("OTP Matched!!");
                return true;
            }
            else if (otp !== @Context.Session.GetString("OTP")) {
                alert(typeof (otp) + "-" + typeof (@Context.Session.GetString("OTP")))
                otpError.innerHTML = "Wrong OTP!!";
                console.log("Wrong OTP!!");
                return false;
            }
        }

        function checkPassword() {
            var newPass = document.getElementById("newPassword").value;
            var confirmPass = document.getElementById("confirmPassword").value;

            console.log("New : " + typeof (newPass) + ", Confirm : " + typeof (confirmPass))

            var confirm = document.getElementById("confirmPasswordError");
            if (confirm === "") {
                confirm.innerHTML = "Confirm Password Required!!";
                console.log("Confirm Password Required!!");
                confirm.style.color = "red";
                return false;
            }
            else if(confirm !== newPass)
            {
                confirm.innerHTML = "Password Doesn't Match!!";
                console.log("Password Doesn't Match!!");
                confirm.style.color = "red";
                return false;
            }
            else if (confirm.) {
                confirm.innerHTML = "Password Matched!!";
                console.log("Password Matched!!");
                confirm.style.color = "green";
                return true;
            }
        }

        function savePassword()
        {
            console.log("Save Password Function")
            var confirm = document.getElementById("confirmPasswordError");
            if (checkPassword() === false) {
                confirm.innerHTML = "Confirm Password Required!!";
                confirm.style.color = "red";
                return false;
            }
            else if (checkPassword() === false) {
                confirm.innerHTML = "Confirm Password is Empty OR Doesn't Match!!";
                confirm.style.color = "red";
                return false;
            }
            else if (checkPassword() === true) {
                return true;
            }
        }

    </script>
    <script src="https://kit.fontawesome.com/e6a8e37cff.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>