@model IEnumerable<LodgeLink.Models.Facility>

@{
    ViewData["Title"] = "Facilities";
}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ImageURL)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FacilityName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FacilityType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Capacity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Availability)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Rules)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BookingFee)
                                            </th>
                                           
                                            <th>
                                                @Html.DisplayNameFor(model => model.Location)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Status)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreatedDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UpdatedDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    <img class="img-circle" src=" @Html.DisplayFor(modelItem => item.ImageURL)" width="70" height="70">
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FacilityName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.FacilityType)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Capacity)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Availability)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Rules)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BookingFee)
                                                </td>
                                                
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Location)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UpdatedDate)
                                                </td>
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.FacilityId"><i class="nav-icon fa-regular fa-pen-to-square"></i></a> |
                                                    <a asp-action="Delete" asp-route-id="@item.FacilityId"><i class="nav-icon fa-regular fa-trash-can"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    @*  <tfoot>
                                    <tr>
                                    <th>Rendering engine</th>
                                    <th>Browser</th>
                                    <th>Platform(s)</th>
                                    <th>Engine version</th>
                                    <th>CSS grade</th>
                                    </tr>
                                    </tfoot> *@
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
            </div>
        </section>

    </div>
    <!-- ./wrapper -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                "buttons": ["excel", "pdf", "print"]

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

        });
    </script>
</body>

