@model IEnumerable<LodgeLink.Models.Building>

@{
    ViewData["Title"] = "Buildings";
}
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BuildingName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Address)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalFloors)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalUnits)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.BuildingType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ConstructionDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CreatedAt)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.UpdatedAt)
                                            </th>
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BuildingName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Address)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalFloors)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.TotalUnits)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BuildingType)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ConstructionDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                                </td>                                                
                                                <td>
                                                    <a asp-action="Edit" asp-route-id="@item.BuildingId"><i class="nav-icon fa-regular fa-pen-to-square"></i></a> |
                                                    <a asp-action="Delete" asp-route-id="@item.BuildingId"><i class="nav-icon fa-regular fa-trash-can"></i></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                "buttons": ["excel", "print"]

            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        });
    </script>
</body>